<h2>Edit a celebrity to your movie : </h2>
<form action="/movies/addcelebrity/{{movie._id}}" method="post">
  <label for="">Name:</label>
  <input type="text" name="name">

  <label for="">Occupation:</label>
  <input type="text" name="occupation">

  <label for="">Best Quote:</label>
  <input type="text" name="catchPhrase">

  <button type="submit">Add!</button>

</form>